.c1{
    width: 200px;
    height: 200px;
    margin: 50px 0px;
}

.bg1 {
    background-color: red;
    border-right-color: black ;
    border-right-width: 3px;
    border-right-style: solid;

    border-top: black dotted 3px;

    border-top-right-radius: 50px;

    padding-top: 30px;
}
.bg2{
    background-color: blue;
    border: palevioletred 3px solid;
    
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;

    padding: 30px;
}
.bg3{
    background-color: yellow;
    border: black 7px solid;
    border-radius: 100px;

    padding: 80px;
    box-sizing: border-box;
}

.d1 {
    color: red;
    border: red 3px solid;
    padding: 50px;
    margin: 50px;
    width: 200px;
    height: 500px;
}