.bt1{
    background-color: green;
    border-color: chocolate;
    font-size: 10px;
    float: right;
    
    
}
.bt2{
    background-color: aliceblue;
}

button{
    font-size: larger;
    color: green;
    font-size: x-large;
    display: inline;
    background-color: white;
    padding: 2px 8px;
    border-color: aliceblue;
    
}