/* .c2 {
    list-style-image: url();
} */

.c1{
    list-style: none;
    display: inline-block;
    margin-top: 100px;
}

.c1 > li, .c2>li {
    display: inline-block;
}

.c2{
    list-style: none;
    display: inline;
}

.c3 {
    float: left;
}
.c4{
    float: left;
}