/* * {
    color: red;
} */


h1 {
    color: red;
}

#id1 {
    color: blue;
}

class {
    color: yellow;
}

* {
    margin: 0;
    padding: 0;
}

.c2{
    width: 200px;
    height: 200px;
    background-color: black;
}
/* 자손 선택자 */
.c2 > p{
    color: white;
    
    text-decoration: line-through;
}

/* 후손 선택자 */
.c2 > div > p {
    color:yellow;
    
    text-decoration: underline;
}