<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.iu.si.bankbook.BankBookDAO">
     
    <select id="getBookNumber" resultType="Long">
     SELECT BANKNUM_SEQ.NEXTVAL FROM DUAL
   </select>
     
    <select id ="getBankBookList" resultType="BankBookDTO" statementType="PREPARED"> 
     SELECT *
     FROM BANKBOOK
     ORDER BY BOOKNUMBER DESC
    </select>
    
    <select id="getBankBookDetail" parameterType="BankBookDTO" resultType="BankBookDTO">
    SELECT *    
    FROM BANKBOOK
    WHERE BOOKNUMBER = #{bookNumber}
    </select>
       
     <delete id="setBankBookDelete" parameterType="Long">
     DELETE BANKBOOK WHERE BOOKNUMBER = #{bookNumber}
     </delete>
   
     <insert id="setBankBookAdd" parameterType="BankBookDTO" > 
      INSERT INTO BANKBOOK
      VALUES (BANKNUM_SEQ.NEXTVAL,#{bookName},#{bookRate},#{bookSale},#{bookDetail})
     </insert>
     
     <update id="setBankBookUpdate" parameterType="BankBookDTO"> <!--Config 떄문에 BankBookDTO사용가능 -->
     	UPDATE BANKBOOK SET BOOKNAME=#{bookName},BOOKRATE=#{bookRate}, BOOKDETAIL=#{bookDetail}, BOOKSALE=#{bookSale}
		WHERE BOOKNUMBER=#{bookNumber}     
     </update>
       <!--Mapper은 DAO가 호출  -->
    </mapper>




















<!-- <?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.iu.si.bankBook.BankBookDAO">
  
  	<select id="getBankBookNumber" resultType="Long">
  		SELECT BANKNUM_SEQ.NEXTVAL FROM DUAL
  	</select>	
  	List
  	<select id="getBankBookList" resultType="BankBookDTO">
  		SELECT BOOKNUMBER,BOOKNAME,BOOKRATE,BOOKSALE,BOOKDETAIL
		FROM BANKBOOK
  	</select>
  	Add
  	<insert id="setBankBookAdd" parameterType="BankBookDTO">
  		INSERT INTO BANKBOOK (BOOKNUMBER,BOOKNAME,BOOKRATE,BOOKSALE,BOOKDETAIL)
		VALUES (#{bookNumber},#{bookName},#{bookRate},#{bookSale},#{bookDetail})
  	</insert>
  	
  
  </mapper> -->