<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <!--사용하려는 DAO의 풀패키지명  -->
  <mapper namespace="com.iu.si.bankbook.BankBookCommentDAO">
  	<sql id="commentCondition">
  		<trim prefix="where" suffixOverrides="and" >
    		BOOKNUMBER = #{bookNumber} AND
    		
    		<if test="kind == 'contents' ">
    			CONTENTS LIKE '%' ||#{search}|| '%'
    		</if>
    		
    		<if test="kind == 'writer'">
    			WRITER LIKE '%' ||#{search}|| '%'
    		</if>
    	</trim>
  	</sql>
  
  
  	<select id="getTotalCount" resultType="Long" parameterType="Pager">
  		SELECT COUNT(NUM) FROM BANKBOOKCOMMENT
  			<include refid="commentCondition"></include>
    	  
  	</select>
  	
  	<select id="getBoardList" resultType="BankBookCommentDTO" parameterType="Pager">
  	 	SELECT * FROM
  		(
	  		SELECT ROWNUM R, C.* FROM 
		  		(	
		  			SELECT * FROM BANKBOOKCOMMENT 
		  			<include refid="commentCondition"></include>
		  			ORDER BY NUM DESC
		  		)C
  		)
  		WHERE R BETWEEN #{startRow} AND #{lastRow}
  	</select>
	  
  </mapper>