<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
 <!-- 사용하려는 DAO의 풀패키지명 -->
 <mapper namespace="com.iu.si.member.MemberDAO">
 
 <!--id는 사용하려는 DAO의 매소드명과 동일하게 작성하여야함 -->
 <!-- insert,delete,update 는 리턴값이 없어서 resultType을 쓰지앖음 -->
 <insert id="setMemberJoin" parameterType="MemberDTO">
 	 INSERT INTO MEMBER 
 	 VALUES (#{id}, #{pw}, #{memberName}, #{memberPhone}, #{email} )
 <!-- paramete처리 = #{getter의 이름}-->
 </insert>
 
 <insert id="setMemberRoleAdd" parameterType="MemberDTO">
 	INSERT INTO MEMBER_ROLE (ID, ROLENUM)
 	VALUES (#{id},(SELECT ROLENUM FROM ROLE WHERE ROLENAME='MEMBER'))
 </insert>
 
 <select id="getMemberLogin" parameterType="MemberDTO" resultMap="getMemberLoginResult" >
 	SELECT M.*,R.*
	FROM "MEMBER" M 
		 JOIN 
		 MEMBER_ROLE MR ON (M.ID = MR.ID)
		 JOIN 
		 "ROLE" R ON (MR.ROLENUM =  R.ROLENUM)
	WHERE M.ID=#{id}
 </select>
 
 	<resultMap type="MemberDTO" id="getMemberLoginResult">
  		<id column="id" property="id"/>
  		<result column="pw" property="pw"/>
  		<result column="memberName" property="memberName"/>
  		<result column="memberPhone" property="memberPhone"/>
  		<result column="email" property="email"/>
  		<association property="roleDTO" javaType="roleDTO">
  			<id column="ROLENUM" property="roleNum"/>
  			<id column="ROLENAME" property="roleName"/>
  		</association>
  		

  	</resultMap>
 
 
 
 <update id="setMemberUpdate" parameterType="MemberDTO">
		Update MEMBER SET MEMBERNAME=#{memberName},MEMBERPHONE=#{memberPhone},EMAIL=#{email}
		WHERE ID=#{id}
	</update> 
 
 

 </mapper>