<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <!--사용하려는 DAO의 풀패키지명  -->
  <mapper namespace="com.iu.si.product.ProductDAO">
  	<select id="getProductNum" resultType="Long">
  		SELECT PRODUCTNUM_SEQ.NEXTVAL FROM DUAL
  	</select>
  	
  	 <select id="getProductCount" parameterType="pager" resultType="Long">
   	 SELECT COUNT(PRODUCTNUM) FROM PRODUCT
	   	
	   	 <if test="kind == 'contents'">
	   	 	 WHERE PRODUCTDETAIL   LIKE  '%' || #{search} || '%'
	   	 </if>
	   	 
	   	 <if test="kind == 'title'">
	   	 	WHERE PRODUCTNAME  LIKE  '%' || #{search} || '%'
	   	 </if>
	   	 
   </select>
  
  
  	<select id="getProductList" parameterType="Pager" resultType="ProductDTO" statementType="PREPARED">
  		SELECT * FROM
	  		(
	  			SELECT ROWNUM R,B * FROM
	  				(
		  			    SELECT * 
		  			    FROM PRODUCT
						WHERE 
						
						<choose>
							<when test="kind == 'contents' ">
								PRODUCTDETAIL
							</when>
							<otherwise>
								PRODUCTNAME
							</otherwise>
						</choose>
						
						 LIKE  '%' || #{search} || '%'
						
						ORDER BY PRODUCTNUM DESC
	  				)B
	  		)
  		WHERE  R BETWEEN  #{startRow} AND #{lastRow} 
  	</select>
  	<!--사용하려는 DAO의 이름과 동일하게  -->
  	<!--없는거 미리 만들면 오류 -->
  	<select id="getProductDetail" parameterType="ProductDTO" resultType="ProductDTO">
  		SELECT * FROM PRODUCT WHERE PRODUCTNUM = #{productNum}
  	</select>
  
  	<insert id="setProductAdd" parameterType="ProductDTO">
  		INSERT INTO PRODUCT (PRODUCTNUM,PRODUCTNAME,PRODUCTDETAIL,PRODUCTSCORE)
  		VALUES (#{productNum},#{productName},#{productDetail},0.0)
  	</insert>
  	
  	<delete id="setProductDeledt" parameterType="Long"> 
  		DELETE PRODUCT WHERE PRODUCTNUM=#{productNum}
  	</delete>
	  
  </mapper>