<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <!--사용하려는 DAO의 풀패키지명  -->
  <mapper namespace="com.iu.si.board.qna.QnaDAO">
  	<sql id="qnaCondition">
  		<trim prefix="where" suffixOverrides="and" >
    		<if test="kind == 'title' ">
    			TITLE LIKE '%' ||#{search}|| '%'
    		</if>
    		
    		<if test="kind == 'contents' ">
    			CONTENTS LIKE '%' ||#{search}|| '%'
    		</if>
    		
    		<if test="kind == 'writer'">
    			WRITER LIKE '%' ||#{search}|| '%'
    		</if>
    	</trim>
   	</sql>
   	
 	<select id="getTotalCount" resultType="Long" parameterType="Pager">
  		SELECT COUNT(NUM) FROM QNA
  		<include refid="qnaCondition"></include>  	  
  	</select>  
  	
  	<select id="getBoardList" resultType="QnaDTO" parameterType="Pager">
  	 	SELECT * FROM
  		(
	  		SELECT ROWNUM R, C.* FROM 
		  		(	
		  			SELECT NUM,WRITER,TITLE,REGDATE,HIT,DEPTH FROM QNA
		  			<include refid="qnaCondition"></include>
		  			ORDER BY REF DESC,STEP ASC
		  		)C
  		)
  		WHERE R BETWEEN #{startRow} AND #{lastRow}
  	</select>
  	
  	<select id="getBoardDetail" parameterType="BoardDTO" resultMap="getBoardDetailResult">
  		SELECT Q.*,QF.* 
  		FROM QNA Q
			LEFT JOIN
			QNAFILES QF 
			ON (Q.NUM= QF.NUM) 
		WHERE Q.NUM=#{num}
  	</select>
  	
  	<resultMap type="QnaDTO" id="getBoardDetailResult">
  		<id column="num" property="num"/>
  		<result column="title" property="title"/>
  		<result column="writer" property="writer"/>
  		<result column="contents" property="contents"/>
  		<result column="regDate" property="regDate"/>
  		<result column="hit" property="hit"/>
  		<result column="depth" property="depth"/>
  		<collection property="boardFileDTOs" javaType="List" ofType="BoardFileDTO">
  			<id column="fileNum" property="fileNum"/>
  			<result column="fileName" property="fileName"/>
  			<result column="oriName" property="oriName"/>
  		</collection>
  		<!--ofType은 List의 타입(DTO)  -->
  	</resultMap>
  	
  	
  	
  	<insert id="setBoardAdd" parameterType="BbsDTO">
  		<selectKey keyProperty="num" resultType="Long" order="BEFORE">
  			SELECT QNA_SEQ.NEXTVAL FROM DUAL
  		</selectKey>
  	 	INSERT INTO QNA (NUM,TITLE,CONTENTS,WRITER,REGDATE,HIT,REF,STEP,DEPTH)
  	 	VALUES (#{num}, #{title},#{contents},#{writer},SYSDATE,0,#{num},0,0)
  	</insert>
  	
  	
  	<insert id="setBoardFileAdd" parameterType="BoardFileDTO">
  		INSERT INTO QNAFILES (FILENUM,NUM,FILENAME,ORINAME)
  		VALUES(QNA_SEQ.NEXTVAL,#{num},#{fileName},#{oriName})
  	</insert>
  	
  	
  	<update id="setStepUpdate" parameterType="QnaDTO">
  		UPDATE QNA SET STEP = STEP + 1
  		WHERE REF = #{ref} AND STEP > #{step}
  	</update>
  	
  	<insert id="setReplyAdd" parameterType="QnaDTO">
  		INSERT INTO QNA (NUM,TITLE,CONTENTS,WRITER,REGDATE,HIT,REF,STEP,DEPTH)
  	 	VALUES (QNA_SEQ.NEXTVAL, #{title},#{contents},#{writer},SYSDATE,0,#{ref},#{step},#{depth})
  	</insert>
  	
  	<delete id="setBoardDelete" parameterType="BbsDTO">
  		DELETE QNA WHERE NUM=#{num}
  	</delete>
  	
  	<select id="getBoardFileList" parameterType="BbsDTO" resultType="BoardFileDTO">
  		SELECT * FROM QNAFILES WHERE NUM=#{num}
  	</select>
  	
  	
  	
  	
  	
  	
	  	
  </mapper>